.navbar {
  background-color: lightskyblue;
  padding: 10px;
}

.navbarList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.navbarItem {
  color: white;
}

.navbarItem:hover {
  color: #ddd;
}